.modal-overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 100%;
    max-width: 576px;
    background-color: rgb(255, 255, 260);
    padding: 3rem;
    position: relative;
    border-radius: 0.50rem;
    outline: none;
}