.modal {
    width: 100%;
    max-width: 550px;
    height: 630px;
    font-family: 'Montserrat';
    background: #F0F2F5;;
    padding: 3rem;
    position: relative;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    outline: none;
    gap: 2rem;

    button:hover {
        filter: brightness(0.9);
    }

    h2 {
        font-size: 2.8rem;
    }

    p {
        text-align: center;
    }
}

.modal_overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    cursor: pointer;
}
